<div id="watchface">
  <div class="button-titles">
    <div id="top-button" class="buttonTop"></div>
    <div id="bottom-button" class="buttonBottom">Home</div>
    <div id="left-button" class="buttonLeft"></div>
    <div id="right-button" class="buttonRight"></div>
  </div>
  <div class="productviewpage">
    <div class="outofstockicon">
      <!---<img src="{{outofstockicon}}" alt=""/>--->
    </div>
    <div id="main-picture" class="main-picture">
      <img src="{{page.itemImg}}" alt="A picture of lunchboxes" />
    </div>
    <div id="shopping-cart" class="shopping-cart-picture">
      <img src="{{shopButton}}" alt="" />
    </div>
    <div class="item-info">
      <div id="item-name" class="item-name">{{page.itemName}}</div>
      <div id="item-cost" class="item-cost">{{page.itemCost}}</div>
      <br>
      <hr>
      <div id="item-dimensions">{{page.itemDimensions}}</div>
      <div id="item-misc">{{page.itemMisc}}</div>
    </div>
  </div>
</div>
